ul{
    padding-left: 0;
    margin-left: 0;
}

li{
    list-style-type: none;
    background-color: #ebebeb;
    padding: 5px;
    margin-bottom:3px;
    border-radius:5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}